[data-aos="growLine"] {
  transform-origin: top;
  transform: scaleY(0%);
  transition-property: transform;
}
[data-aos="growLine"].aos-animate {
  transform: scaleY(100%);
}
[data-aos="leafIn"] {
  opacity: 0;
  transform: scale(30%) translateY(-10vh) rotate(90deg) scaleY(-100%);
  transition-property: transform, opacity;
}
[data-aos="leafIn"].aos-animate {
  transform: scale(100%) translateY(0%) rotate(0deg) scaleY(100%) ;
  opacity: 1;
}
[data-aos="LTS"] {
  opacity: 0;
  transform: scale(120%);
  transition-property: transform, opacity;
}
[data-aos="LTS"].aos-animate {
  transform: scale(100%);
  opacity: 1;
}

[data-aos="TRAININ"] {
  transform: translateX(-25%) translateY(5%) scale(0.5);
  transition-property: transform, opacity;
}
[data-aos="TRAININ"].aos-animate {
  transform: translateX(0%) translateY(0%) scale(1);
  opacity: 1;
}
