.my_light1 {
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    -webkit-animation: lighting1 2s linear .3s infinite alternate;
    animation: lighting1 2s linear .3s infinite alternate;
}
@keyframes lighting1 {
    0% {
        opacity: 0;
    }   
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.word {
    position: absolute; 
    top:0%;left: 0%;
}

