<!DOCTYPE html>
<html lang="zh-Hant">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%- include('src/components/meta.ejs', seo.team) %>
  <link rel="preload" as="image" href="@/assets/team/kv.webp" fetchpriority="high">
  <link rel="preload" as="image" href="@/assets/team/kv-m.webp" fetchpriority="high">
  <link rel="stylesheet" href="./style.scss">
</head>
<body>
  <%- include('src/components/header.ejs') %>

  <main>
    <section id="kv">
      <div class="text">
        <h1>國城建設</h1>
        <h2>因為國際，所以第一</h2>
        <h3>做建築，要做到國際級；做美食，要拿到米其林。</h3>
      </div>
      <!-- <div class="info">預留圖說欄位(無圖說隱藏)</div>  -->
    </section>

    <section id="information">
      <div class="text">
        <h2>與國際美學大師聯手<br>讓世界級建築落地台灣</h2>
        <p>
          國城建設四十年來，每一個建築計畫，都不只是打造一座房子，而是思考如何為城市帶來新的價值。國城始終選擇與世界級的大師攜手合作，因為我們深信：唯有卓越，才能不辜負土地的珍貴；唯有引進國際視野，再從在地出發，才能孕育出獨一無二的生活場景。<br>
          <br>
          正因如此，國城建設不畏挑戰、不甘平凡，持續以大師的維度，推動城市的更新與美學的進化。我們要的從來不只是建築本身，而是讓建築成為一座城市的風景、一種生活的品味，以及一代代人們共享的驕傲。
        </p>
        <div class="en">International&nbsp;<br>Design&nbsp;<br class="pc">Collective&nbsp;</div>
        <div class="line"></div>
      </div>

      <div class="list">
        <div class="item">
          <div>
            <figure>
              <img src="@/assets/team/1.webp" alt="">
            </figure>
            <div class="name-en">Jaya Ibrahim</div>
            <div class="name">賈亞．易卜拉欣</div>
            <div class="title">AMAN 御用之父</div>
          </div>
        </div>

        <div class="item">
          <div>
            <figure>
              <img src="@/assets/team/2.webp" alt="">
            </figure>
            <div class="name-en">Ando Tadao</div>
            <div class="name">安藤 忠雄</div>
            <div class="title">普利茲克建築獎  建築師</div>
          </div>
        </div>

        <div class="item">
          <div>
            <figure>
              <img src="@/assets/team/3.webp" alt="">
            </figure>
            <div class="name-en">SOO K. CHAN</div>
            <div class="name">曾仕乾</div>
            <div class="title">SCDA  豪宅推手</div>
          </div>
        </div>

        <div class="item">
          <div>
            <figure>
              <img src="@/assets/team/4.webp" alt="">
            </figure>
            <div class="name-en">KEIJI ASHIZAWA</div>
            <div class="name">芦沢 啓治</div>
            <div class="title">Blue Bottle 風格美學</div>
          </div>
        </div>

        <div class="item">
          <div>
            <figure>
              <img src="@/assets/team/5.webp" alt="">
            </figure>
            <div class="name-en">Tomoya Hashiuchi</div>
            <div class="name">橋內 智也</div>
            <div class="title">日本 庭園設計 大師</div>
          </div>
        </div>

        <div class="item">
          <div>
            <figure>
              <img src="@/assets/team/6.webp" alt="">
            </figure>
            <div class="name-en">Yoshiki Ichikawa</div>
            <div class="name">市川 善幾</div>
            <div class="title">AURORA Inc.  日籍 燈光設計師</div>
          </div>
        </div>

        <div class="item">
          <div>
            <figure>
              <img src="@/assets/team/7.webp" alt="">
            </figure>
            <div class="name-en">SHUNMYO MASUNO</div>
            <div class="name">枡野 俊明</div>
            <div class="title">日本現代景觀大師</div>
          </div>
        </div>

        <div class="item">
          <div>
            <figure>
              <img src="@/assets/team/8.webp" alt="">
            </figure>
            <div class="name-en">Masahiko Imai</div>
            <div class="name">今井 昌彥</div>
            <div class="title">OBAYASHI 台灣大林組</div>
          </div>
        </div>

        <div class="item">
          <div>
            <figure>
              <img src="@/assets/team/9.webp" alt="">
            </figure>
            <div class="name-en">Andrew Jaques</div>
            <div class="name">安德魯・傑克斯</div>
            <div class="title">The Flaming Beacon  燈光團隊</div>
          </div>
        </div>
      </div>

      <div class="space"></div>

      <div class="text">
        <h2>引進米其林星級料理<br>完整高端生活版圖</h2>
        <p>
          國城與米其林主廚聯手，打造完整的高端生活版圖。我們相信，好的建築提供居住的容器，而講究的餐飲則延伸生活的內涵；兩者結合，才能構成真正的生活美學。<br>
          <br>
          米其林是國城對「國際標準的高端生活」的詮釋，也是一種對細節的執著、對品質的嚴謹、對生活的尊重，透過跨界的生活實踐，國城希望讓建築之外的日常，也能與世界同步，成為人們與城市共享的高端品味。
        </p>
        <div class="en">Michelin&nbsp;<br class="pc">Starred&nbsp;<br>Lifestyle&nbsp;</div>
        <div class="line"></div>
      </div>
<!--
      <div class="list">

        <div class="item">
          <div>
            <figure>
              <img src="@/assets/team/10.webp" alt="">
            </figure>
            <div class="name-en">Chien-Po Hu</div>
            <div class="name">胡鑑波</div>
            <div class="title">雋｜行政主廚</div>
          </div>
        </div>

        <div class="item">
          <div>
            <figure>
              <img src="@/assets/team/11.webp" alt="">
            </figure>
            <div class="name-en">Tai-Jung Chen</div>
            <div class="name">陳泰榮</div>
            <div class="title">雋｜餐飲總監</div>
          </div>
        </div>

        <div class="item">
          <div>
            <figure>
              <img src="@/assets/team/12.webp" alt="">
            </figure>
            <div class="name-en">Shoichi Fujimoto</div>
            <div class="name">藤本 詳一</div>
            <div class="title">承Sho｜料理長</div>
          </div>
        </div>

        <div class="item">
          <div>
            <figure>
              <img src="@/assets/team/13.webp" alt="">
            </figure>
            <div class="name-en">Kei Kurusu</div>
            <div class="name">來栖 けい</div>
            <div class="title">Li.nu｜bon.nu 創辦人</div>
          </div>
        </div>

        <div class="item">
          <div>
            <figure>
              <img src="@/assets/team/14.webp" alt="">
            </figure>
            <div class="name-en">Michael Lee</div>
            <div class="name">李祈睿</div>
            <div class="title">Li.nu｜星級主廚</div>
          </div>
        </div>

        <div class="item">
          <div>
            <figure>
              <img src="@/assets/team/15.webp" alt="">
            </figure>
            <div class="name-en">Takeshi Takeda</div>
            <div class="name">武田健志</div>
            <div class="title">Liberte｜星級主廚</div>
          </div>
        </div>
        
      </div>
 -->
      <div class="logo">
        <img src="@/assets/team/logo.svg" alt="">
      </div>
      
      <div class="text">
        <h2>南台灣大型都更旗手<br>城市價值的創造者</h2>
        <p>
          國城建設始終以國際視野與專業整合，擘劃未來城市想像的實踐藍圖，從鳳山都更好，領軍高雄首件公辦都市更新，到亞灣「特貿三」攜手安藤忠雄，推動港灣都會進化；同時拓展至嘉義、台南，承接多座大規模更新基地，以整合規劃能力與民間投資動能，實現土地活化、機能升級與美學落地的多重目標。<br>
          <br>
          國城不只是建築者，更是城市價值的創造者。以全街廓視角與多元專業團隊，串聯公私協力，打造真正回應社會期待與時代需求的更新模式，成為南台灣最具指標性的都更實力建商。
        </p>
        <div class="en">Builder of&nbsp;<br>Urban&nbsp;<br class="pc">Value&nbsp;</div>
        <div class="line"></div>
      </div>

      <div class="grids">
        <div class="grid wide">
          <figure>
            <img src="@/assets/team/16.webp" alt="">
            <div class="title">高雄 Y10 捷運聯開案</div>
            <div class="desc">捷運台鐵雙鐵轉乘，黃線捷運首件住商共構</div>
          </figure>
        </div>

        <div class="grid">
          <figure>
            <img src="@/assets/team/17.webp" alt="">
            <div class="title">高雄鳳山都更好</div>
            <div class="desc">高雄首件公辦都市更新，領銜鳳山中城計畫</div>
          </figure>
        </div>

        <div class="grid wide">
          <figure>
            <img src="@/assets/team/18.webp" alt="">
            <div class="title">高雄 O13 捷運聯開案</div>
            <div class="desc">舊鳳山最後大型素地，緊鄰 9 公頃大東濕地公園</div>
          </figure>
        </div>

        <div class="grid">
          <figure>
            <img src="@/assets/team/19.webp" alt="">
            <div class="title">高雄亞灣特貿三</div>
            <div class="desc">亞灣2.0計劃首件招商案，總投資超過775億</div>
          </figure>
        </div>

        <div class="grid">
          <figure>
            <img src="@/assets/team/20.webp" alt="">
            <div class="title">高雄 左營高鐵科技之心</div>
            <div class="desc">TOD 大眾運輸三鐵交會，半導體科技門戶</div>
          </figure>
        </div>

        <div class="grid wide">
          <figure>
            <img src="@/assets/team/21.webp" alt="">
            <div class="title">嘉義都更好</div>
            <div class="desc">垂楊路X吳鳳北路，中嘉雲彰投首件公辦都市更新</div>
          </figure>
        </div>
      </div>
    </section>
  </main>

  <%- include('src/components/footer.ejs') %>

  <script type="module" src="../main.js"></script>
</body>
</html>