@use '@/styles/functions' as *;

/* beasties:include start */

* {
  box-sizing: border-box;
}

body {
  font-family: "Noto Serif TC", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  margin: 0;
  font-size: size-m(20);
  line-height: 180%;
  margin: 0;
  background: url(@/assets/sec-bg-m.jpg) fixed;
  background-size: 100% auto;

  @media (min-width: 768px) {
    font-size: size(17);
    line-height: 200%;
    background-image: url(@/assets/sec-bg.jpg);
      background-size: cover;
  }


  &.modal-open {
    overflow: hidden;
  }
}

figure {
  display: block;
  margin: 0;
  padding: 0;

  .info {
    color: #fff;
    position: absolute;
    bottom: size-m(10);
    right: size-m(20);
    font-size: size-m(14);
    line-height: 200%;
    filter: drop-shadow(0 size-m(2) size-m(3) #000);

    @media (min-width: 768px) {
      bottom: size(10);
      right: size(20);
      font-size: size(14);
      filter: drop-shadow(0 size(2) size(3) #000);
    }
  }
}

a {
  text-decoration: none;
}

p {
  font-size: size-m(20);
  line-height: 180%;
  margin: 0;

  @media (min-width: 768px) {
    font-size: size(17);
    line-height: 200%;
  }
}

.font-sans {
  font-family: "Noto Sans TC", sans-serif;
}

#main-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: size-m(128);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  z-index: 999;

  @media (min-width: 768px) {
    height: size(96);
    padding: 0 size(30);

    &:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-image: url(@/assets/menubg.webp);
      background-size: cover;
      z-index: -1;
      opacity: 0;
      transition: opacity .5s;
    }

    &.show-bg:before {
      opacity: 1;
    }
  }

  .nav-toogle {
    width: size-m(128);
    height: size-m(128);
    position: relative;
    cursor: pointer;

    @media (min-width: 768px) {
      display: none;
    }

    div {
      width: size-m(66);
      height: size-m(4);
      background: #fff;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      transition: all .2s;

      &:nth-child(1) {
        transform: translate(-50%, calc(-50% - size-m(18)));
      }

      &:nth-child(3) {
        transform: translate(-50%, calc(-50% + size-m(18)));
      }
    }

    &.active {
      div {
        &:nth-child(1) {
          transform: translate(-50%, -50%) rotate(-45deg);
        }

        &:nth-child(2) {
          transform: scale(0);
        }

        &:nth-child(3) {
          transform: translate(-50%, -50%) rotate(45deg);
        }
      }
    }
  }

  #main-header-links {
    display: none;

    @media (min-width: 768px) {
      display: flex;
      align-items: center;
    }

    .logo {
      display: none;

      @media (min-width: 768px) {
        display: block;
        margin-right: size(29);

        img {
          width: size(30);
          vertical-align: bottom;
        }
      }
    }

    nav {
      display: flex;

      a {
        color: #fff;
        font-size: size(22);
        font-weight: 600;
        letter-spacing: .1em;
        margin-right: size(40);

        &:last-child {
          margin-right: 0;
        }
      }
    }
  }

  .contact-links {
    display: none;

    @media (min-width: 768px) {
      display: flex;
      align-items: center;
    }

    a {
      margin-left: size(15);

      img {
        display: block;
        width: size(43);
        height: size(43);
      }
    }

    .order {
      color: #fff;
      display: flex;
      justify-content: center;
      align-items: center;
      width: size(222);
      height: size(43);
      border: size(1.5) solid #fff;
      margin-left: size(15);
      border-radius: size(50);
      font-size: size(22);
      letter-spacing: .1em;
      line-height: 1;
      font-weight: 600;
      cursor: pointer;

      span {
        font-size: size(14.46);
        letter-spacing: 0;
        line-height: 1;
        margin-left: size(10);
        font-weight: 400;
        font-family: "Noto Sans TC", sans-serif;
      }
    }
  }
}

/* beasties:include end */

footer {
  display: block;
  width: 100%;
  padding: size-m(32) 0 0 0;
  border-top: size-m(1) solid #999999;

  @media (min-width: 768px) {
    padding: 0;
  }

  &>div {
    @media (min-width: 768px) {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap;
      padding: size(36) 0;
    }
  }

  .links {
    padding: 0 size-m(86) 0 size-m(86);
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: size-m(26);

    @media (min-width: 768px) {
      padding: 0;
      margin-bottom: 0;
    }

    .logo {
      display: block;
      width: size-m(224);
      height: auto;

      @media (min-width: 768px) {
        width: size(199);
        margin-left: size(65);
        margin-right: size(54);
      }
    }

    &>div {
      width: size-m(274);
      display: flex;
      flex-wrap: wrap;
      padding-bottom: size-m(16);
      border-bottom: size-m(1) solid #999;
      gap: size-m(3) size-m(17);

      @media (min-width: 768px) {
        width: size(872);
        height: size(77);
        align-items: center;
        justify-content: space-between;
        padding: 0 size(50);
        border-bottom: none;
        border-left: size(1) solid #000;
        border-right: size(1) solid #000;
        gap: size(40) size(20);
      }

      a {
        color: #000;
        font-size: size-m(18);
        font-weight: 600;
        letter-spacing: .1em;

        @media (min-width: 768px) {
          font-size: size(22);
        }
      }
    }
  }

  .btns {
    display: flex;
    justify-content: space-between;
    padding: 0 size-m(26) size-m(22) size-m(26);

    @media (min-width: 768px) {
      padding: 0 size(80) 0 size(51);
      flex: 1;
    }

    img {
      display: block;
      width: size-m(50);
      height: size-m(50);
      cursor: pointer;

      @media (min-width: 768px) {
        width: size(43);
        height: size(43);
      }
    }

    .order {
      color: #fff;
      background: #000;
      display: flex;
      justify-content: center;
      align-items: center;
      width: size-m(262);
      height: size-m(50);
      border-radius: size-m(80);
      font-size: size-m(25);
      letter-spacing: .1em;
      line-height: 1;
      font-weight: 600;
      cursor: pointer;

      @media (min-width: 768px) {
        width: size(222);
        height: size(43);
        border-radius: size(80);
        font-size: size(22);
      }

      span {
        font-size: size-m(17);
        letter-spacing: 0;
        line-height: 1;
        margin-left: size-m(10);
        font-weight: 400;
        font-family: "Noto Sans TC", sans-serif;

        @media (min-width: 768px) {
          font-size: size(14.46);
          margin-left: size(10);
        }
      }
    }
  }

  .green {
    padding: 0;
    width: 100%;
    height: size-m(40);
    background-image: url(@/assets/menubg.webp);
    background-size: cover;

    @media (min-width: 768px) {
      height: size(18);
    }
  }
}

#mob-bottom-nav {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-image: url(@/assets/menubg.webp);
  background-position: size-m(-464) 0;
  background-size: auto size-m(100);
  z-index: 1;

  @media (min-width: 768px) {
    display: none !important;
  }

  .btns {
    display: flex;
    justify-content: space-between;
    padding: size-m(25);

    img {
      display: block;
      width: size-m(50);
      height: size-m(50);
      cursor: pointer;
    }

    .order {
      color: #fff;
      display: flex;
      justify-content: center;
      align-items: center;
      width: size-m(260);
      height: size-m(48);
      border: size-m(1) solid #fff;
      border-radius: size-m(80);
      font-size: size-m(25);
      letter-spacing: .1em;
      line-height: 1;
      font-weight: 600;
      cursor: pointer;

      span {
        font-size: size-m(17);
        letter-spacing: 0;
        line-height: 1;
        margin-left: size-m(10);
        font-weight: 400;
        font-family: "Noto Sans TC", sans-serif;
      }
    }
  }
}

#nav-mob {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  @media (min-width: 768px) {
    display: none;
  }

  .bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .3);
    backdrop-filter: blur(8px);
  }

  .panel {
    width: size-m(376);
    height: 100%;
    overflow-y: auto;
    padding: size-m(116) 0;
    padding-bottom: size-m(50);
    background: rgba(0, 0, 0, .75);
    transform: translateX(-100%);
  }

  .logo img {
    width: size-m(190);
    margin-left: size-m(90);
    margin-bottom: size-m(74);
  }

  nav {
    a {
      display: block;
      color: #fff;
      text-align: center;
      font-size: size-m(44);
      line-height: size-m(63);
      font-weight: 600;
      letter-spacing: .1em;
      text-indent: .1em;
      margin-bottom: size-m(40);

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}