@use '@/styles/functions' as *;
@use '@/styles/default';

.subtitle {
  color: #8C6239;
  font-size: size-m(20);
  line-height: size-m(29);
  font-weight: 700;
  letter-spacing: .1em;
  margin-bottom: size-m(6);

  @media (min-width: 768px) {
    font-size: size(25);
    line-height: size(36);
    margin-bottom: size(14);
  }
}

h2 {
  font-size: size-m(32);
  line-height: size-m(46);
  font-weight: 700;
  margin: 0 0 size-m(26) 0;

  @media (min-width: 768px) {
    font-size: size(45);
    line-height: size(65);
    margin-bottom: size(90);
  }
}

p {
  text-align: justify;

  @media (min-width: 768px) {
    font-size: size(25);
    line-height: 180%;
  }
}

br {
  &.pc {
    display: none;

    @media (min-width: 768px) {
      display: block;
    }
  }
}

figure {
  position: relative;

  img {
    width: 100%;
    display: block;
  }
}

#kv {
  width: 100%;
  height: size-m(1333);
  background-image: url(@/assets/pinshi/kv-m.webp);
  background-size: cover;
  position: relative;
  color: #fff;
  font-weight: 700;

  @media (min-width: 768px) {
    height: size(1080);
    background-image: url(@/assets/pinshi/kv.webp);
  }

  .kv-video-wrapper {
    position: relative;
    width: 100%;
    height: 100%; // 依你原本 kv 高度設定
  }

  .kv-video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
  }

  // 手機／電腦版切換
  .mob-video {
    display: none;
  }

  .pc-video {
    display: block;
  }

  @media (max-width: 768px) {
    .pc-video {
      display: none;
    }

    .mob-video {
      display: block;
    }
  }

  .text {
    display: inline-block; // 👈 加這行
    position: absolute;
    bottom: 0;
    left: 0;
    padding: size-m(57) size-m(46);

    @media (min-width: 768px) {
      padding: size(74) size(179);
      width: fit-content;
    }
  }

  h1 {
    font-size: size-m(39);
    line-height: size-m(57);
    letter-spacing: .1em;
    margin: 0 0 size-m(22);

    @media (min-width: 768px) {
      font-size: size(54);
      line-height: size(78);
      margin: 0 0 size(20);
    }
  }

  h2 {
    font-size: size-m(60);
    line-height: size-m(75);
    margin: 0 0 size-m(22);

    @media (min-width: 768px) {
      font-size: size(83);
      line-height: size(119);
      margin: 0 0 size(33);
    }

    span {
      display: none;

      @media (min-width: 768px) {
        display: inline;
      }
    }

    br {
      @media (min-width: 768px) {
        display: none;
      }
    }
  }

  h3 {
    font-size: size-m(24);
    line-height: size-m(34);
    letter-spacing: .1em;
    margin: 0;
    text-align: justify;

    @media (min-width: 768px) {
      font-size: size(33);
      line-height: size(47);
      width: 0; // 👈 不參與父容器寬度計算
      min-width: 100%; // 👈 但自己還是撐滿父容器
    }
  }

  .info {
    color: #fff;
    position: absolute;
    bottom: size-m(10);
    right: size-m(20);
    font-size: size-m(14);
    line-height: 200%;
    filter: drop-shadow(0 size-m(2) size-m(3) #000);

    @media (min-width: 768px) {
      bottom: size(10);
      right: size(20);
      font-size: size(14);
      filter: drop-shadow(0 size(2) size(3) #000);
    }
  }
}

#profit {
  padding: size-m(45) size-m(45) size-m(38) size-m(45);

  @media (min-width: 768px) {
    padding: size(87) 0 size(82) 0;
  }

  .flex {
    margin-bottom: size-m(36);

    @media (min-width: 768px) {
      width: size(1740);
      margin: 0 auto;
      display: flex;
      flex-direction: row-reverse;
      justify-content: space-between;
      align-items: stretch;
      margin-bottom: size(63);
    }
  }

  .slider {
    margin-bottom: size-m(36);

    @media (min-width: 768px) {
      width: size(1199);
      margin: 0;
    }
  }

  .content {
    @media (min-width: 768px) {
      width: size(500);
      margin: 0;
      // padding-bottom: size(113);
      border-bottom: size(1) solid #000;
      border-top: size(1) solid #000;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  }

  .table {
    padding-bottom: size-m(36);
    border-bottom: size-m(1) solid #000;
    position: relative;

    @media (min-width: 768px) {
      width: size(1740);
      margin: 0 auto;
      padding-bottom: 0;
      border: none;
    }

    img {
      display: block;
      width: 100%;
    }

    .btn {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: size-m(156);
      height: size-m(156);
      border-radius: 50%;
      background: rgba(186, 179, 157, .8);
      color: #fff;
      font-size: size-m(22);
      line-height: 1;
      font-weight: 600;
      letter-spacing: .1em;
      text-indent: .1em;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;

      @media (min-width: 768px) {
        display: none;
      }
    }
  }
}

@keyframes hand {
  0% {
    transform: translate(-50%, 0);
  }

  25% {
    transform: translate(0%, 0);
  }

  50% {
    transform: translate(-50%, 0);
  }

  75% {
    transform: translate(-100%)
  }

  to {
    transform: translate(-50%, 0);
  }
}

#map {
  position: relative;
  overflow: hidden;

  @media (min-width: 768px) {
    display: none;
  }

  .map-wrapper {
    width: 100%;
    height: size-m(480);
    overflow-x: auto;

    img {
      display: block;
      height: 100%;
    }
  }

  .mask {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 115, 210, .38);
    pointer-events: none;

    .ani {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: size-m(630);

      .finger-area {
        width: 100%;
      }

      .finger {
        position: absolute;
        top: 0;
        left: 50%;
        transform: translate(-50%, 0);
        width: size-m(47.74);
        animation: hand 5s linear infinite;
      }
    }
  }
}

#feature {
  padding: size-m(36) size-m(45) size-m(38) size-m(45);

  @media (min-width: 768px) {
    padding: size(85) 0 size(115) 0;
  }

  .item {
    margin-bottom: size-m(36);

    @media (min-width: 768px) {
      margin-bottom: size(90);
    }

    &:first-child .slider {
      display: none;

      @media (min-width: 768px) {
        display: block;
      }
    }

    &:last-child {
      margin-bottom: 0;
    }

    .flex {
      margin-bottom: size-m(36);

      @media (min-width: 768px) {
        width: size(1740);
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
      }
    }

    &.right .flex {
      @media (min-width: 768px) {
        flex-direction: row-reverse;
      }
    }

    .content {
      padding-bottom: size-m(36);
      border-bottom: size-m(1) solid #000;
      margin-bottom: size-m(38);

      @media (min-width: 768px) {
        padding: size(50) 0;
        width: size(490);
        border-top: size(1) solid #000;
        border-bottom: size(1) solid #000;
        margin-bottom: 0;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
      }

      h2 {
        @media (min-width: 768px) {
          margin-bottom: 0;
        }
      }
    }

    @media (min-width: 768px) {
      &.item1 {
        .content h2 {
          font-size: size(36);
        }
      }
    }

    .slider {
      margin-bottom: size-m(36);

      @media (min-width: 768px) {
        margin-bottom: 0;
        width: size(1199);
      }
    }

    &.type2 {
      .content {
        @media (min-width: 768px) {
          width: size(568);
        }
      }

      .slider {
        @media (min-width: 768px) {
          width: size(1110);
        }
      }
    }

    &.type3 {
      .flex {
        @media (min-width: 768px) {
          display: block;
          width: 100%;
        }
      }

      .slider {
        margin-left: size-m(-45);
        margin-right: size-m(-45);
        height: size-m(500);

        @media (min-width: 768px) {
          width: 100%;
          height: size(823);
          margin: 0 0 size(77) 0;
        }

        >div,
        figure {
          height: 100%;
        }

        img {
          height: 100%;
          object-fit: cover;
        }
      }

      .content {
        @media (min-width: 768px) {
          width: size(1740);
          margin-left: auto;
          margin-right: auto;
          border-top: 0;
          padding-top: 0;
          padding-bottom: size(95);
          flex-direction: row;
          align-items: flex-end;

          .title {
            width: size(500);
          }

          p {
            width: size(682);
          }
        }
      }
    }
  }
}

#table-modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(@/assets/sec-bg-m.webp);
  background-size: 100% auto;
  padding: size-m(60) 0 size-m(100);
  overflow-y: auto;
  z-index: 999;

  .table-modal-inner {
    display: flex;
    flex-direction: column;
    position: relative;
    height: 100%;
  }

  .sec-title {
    font-size: size-m(22);
    line-height: size-m(32);
    text-align: center;
    font-weight: 600;
    letter-spacing: .1em;
    text-indent: .1em;
    margin-bottom: size-m(124);
  }

  .table {
    flex: 1;
    height: 0;
    overflow-x: auto;

    img {
      display: block;
      width: auto;
      height: 100%;
    }
  }

  .close {
    position: absolute;
    top: size-m(44);
    right: size-m(43);
    width: size-m(48);
    height: size-m(48);
    background-image: url('data:image/svg+xml,<svg width="53" height="51" viewBox="0 0 53 51" fill="none" xmlns="http://www.w3.org/2000/svg"><line x1="3.47105" y1="1.15713" x2="51.7438" y2="49.4299" stroke="%238C6239" stroke-width="3.27273"/><line y1="-1.63636" x2="68.2679" y2="-1.63636" transform="matrix(-0.707107 0.707107 0.707107 0.707107 50.5869 2.31421)" stroke="%238C6239" stroke-width="3.27273"/></svg>');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;

    @media (min-width: 768px) {
      top: size(54);
      right: size(53);
      width: size(59);
      height: size(59);
    }
  }
}