.PS_001_block {
    position: relative;
}

.PS_001_title[alt="title"] {
    height: 18vw;
}

.PS_001_title[alt="standard"] {
    height: 250px;
}

.PS_001_title[alt="standard"] {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 0px;
    flex: 0 0 0;
}

.PS_001_title[alt="003"] {
    padding-top: 2.5rem;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 0px;
    flex: 0 0 0;
}

.PS_001_title[alt="004"] {
    padding-top: 2.5rem;
}