<!DOCTYPE html>
<html lang="zh-Hant">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%- include('src/components/meta.ejs') %>
  <link rel="preload" as="image" href="@/assets/pinshi-team/kv.webp" fetchpriority="high">
  <link rel="preload" as="image" href="@/assets/pinshi-team/kv-m.webp" fetchpriority="high">
  <link rel="stylesheet" href="./style.scss">
</head>
<body>
  <%- include('src/components/header.ejs') %>

  <main>
    <section id="kv">
        <div class="kv-video-wrapper">
          <!-- 電腦版 -->
          <video class="kv-video pc-video" autoplay muted loop playsinline preload="auto">
            <source src="@/assets/video/team_pc.mp4" type="video/mp4">
          </video>
          <!-- 手機版 -->
          <video class="kv-video mob-video" autoplay muted loop playsinline preload="auto">
            <source src="@/assets/video/team_mo.mp4" type="video/mp4">
          </video>
        </div>
      <div class="text">
        <h1>寳實團隊</h1>
        <h2>國際級大師 <br>世界級美感</h2>
        <h3>跨域整合，與世界對話的美學實踐。</h3>
      </div>
    <!--   <div class="info">預留圖說欄位(無圖說隱藏)</div>  -->
    </section>

    <section id="firm1" class="firm multi-people">
      <div class="content">
        <h2><span class="year">2025</span><br>大阪世博台灣館建築師操刀</h2>
        <h3><span class="en">MAYU architects</span><br>張瑪龍陳玉霖聯合建築師事務所</h3>
        <p>重視建築實踐中的團隊合作能量與個別建築作品的獨特與藝術性，在建築實踐中揉和跨領域專業合作與實驗性創作啟發，同時關注都市規劃設計領域，張瑪龍建築師曾實際參與或主持高雄與台南多項都市景觀規劃，包括愛河綜合發展計畫、台南孔廟周邊都市更新等。</p>
        <p class="person-works">
          建築作品｜<br>
          ■ 2025大阪世界博覽會玉山館 ■ 台南市立圖書館總館<br>
          ■ 嘉義故宮博物院南院新館 ■ 台南火車站新建工程
        </p>

        <div class="people pc">
          <div class="person">
            <div class="img" style="background-image: url(@/assets/pinshi-team/mayu2.webp);"></div>
            <div class="name">張瑪龍<span>建築師</span></div>
          </div>
          <div class="person">
            <div class="img" style="background-image: url(@/assets/pinshi-team/mayu3.webp);"></div>
            <div class="name">陳玉霖<span>建築師</span></div>
          </div>
        </div>
      </div>

      <div class="slider">
        <div class="swiper">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <figure>
                <img loading="lazy" src="@/assets/pinshi-team/mayu/1.webp" alt="">
                <div class="info">2025 大阪世博 Tech World 館</div>
              </figure>
            </div>
            <div class="swiper-slide">
              <figure>
                <img loading="lazy" src="@/assets/pinshi-team/mayu/2.webp" alt="">
                <div class="info">台南市立圖書館 總館</div>
              </figure>
            </div>
            <div class="swiper-slide">
              <figure>
                <img loading="lazy" src="@/assets/pinshi-team/mayu/3.webp" alt="">
                <div class="info">國立故宮博物院南部院區二館</div>
              </figure>
            </div>
            <div class="swiper-slide">
              <figure>
                <img loading="lazy" src="@/assets/pinshi-team/mayu/4.webp" alt="">
                <div class="info">工研院光復院區研發大樓</div>
              </figure>
            </div>
            <div class="swiper-slide">
              <figure>
                <img loading="lazy" src="@/assets/pinshi-team/mayu/5.webp" alt="">
                <div class="info">台南火車站新建工程</div>
              </figure>
            </div>
            <div class="swiper-slide">
              <figure>
                <img loading="lazy" src="@/assets/pinshi-team/mayu/6.webp" alt="">
                <div class="info">台南市東區 裕文圖書館</div>
              </figure>
            </div>
            <div class="swiper-slide">
              <figure>
                <img loading="lazy" src="@/assets/pinshi-team/mayu/7.webp" alt="">
                <div class="info">北港文化中心</div>
              </figure>
            </div>
          </div>
          <div class="swiper-pagination"></div>
        </div>
      </div>

      <div class="people mob">
        <div class="person">
            <div class="img" style="background-image: url(@/assets/pinshi-team/mayu2.webp);"></div>
            <div class="name">張瑪龍<span>建築師</span></div>
          </div>
          <div class="person">
            <div class="img" style="background-image: url(@/assets/pinshi-team/mayu3.webp);"></div>
            <div class="name">陳玉霖<span>建築師</span></div>
          </div>
      </div>
    </section>

    <section id="firm2" class="firm">
      <div class="content">
        <h2>藍瓶咖啡 空間美學<br>誠實設計 落地台灣</h2>
        <h3><span class="en">Keiji Ashizawa Design</span><br>芦沢啓治 建築設計事務所</h3>
        <p>芦沢啓治建跨足建築、室內、傢俱、產品四大領域，主張忠於本質的「誠實設計」，讓設計發揮其本質的價值，成為人們實現更理想生活的工具，先後成立 KEIJI ASHIZAWA、石卷工房、與日本傢俱大廠KARIMOKU 推出全新品牌 Karimoku Case，從建築到產品，實踐他對使用者的細膩思考。</p>
        <p class="person-works mob">
          設計作品｜<br>
          ■ 東京 Trunk Hotel yoyogi park ■ 上海 Blue Bottle <br>
          ■ 東京澀谷 Blue Bottle ■ 東京 Bellustar Hotel Penthouse<br>
          ■ 名古屋 Blue Bottle<br>
        </p>
        <p class="person-works pc">
          設計作品｜<br>
          ■ 東京 Trunk Hotel yoyogi park ■ 上海 Blue Bottle ■ 東京澀谷 Blue Bottle<br>
          ■ 東京 Bellustar Hotel Penthouse  ■ 名古屋 Blue Bottle
        </p>

        <div class="people pc">
          <div class="person">
            <div class="img" style="background-image: url(@/assets/pinshi-team/keiji2.webp);"></div>
            <div class="name">芦沢啓治</div>
          </div>
        </div>
      </div>

      <div class="slider">
        <div class="swiper">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <figure>
                <img loading="lazy" src="@/assets/pinshi-team/keiji/1.webp" alt="">
                <div class="info">2023 BELLUSTAR Penthouse</div>
              </figure>
            </div>
            <div class="swiper-slide">
              <figure>
                <img loading="lazy" src="@/assets/pinshi-team/keiji/2.webp" alt="">
                <div class="info">2023 TRUNK(HOTEL) YOYOGI PARK</div>
              </figure>
            </div>
            <div class="swiper-slide">
              <figure>
                <img loading="lazy" src="@/assets/pinshi-team/keiji/3.webp" alt="">
                <div class="info">2023 House in Aoyama</div>
              </figure>
            </div>
            <div class="swiper-slide">
              <figure>
                <img loading="lazy" src="@/assets/pinshi-team/keiji/4.webp" alt="">
                <div class="info">2023 Blue Bottle Coffee Qiantan Café</div>
              </figure>
            </div>
            <div class="swiper-slide">
              <figure>
                <img loading="lazy" src="@/assets/pinshi-team/keiji/5.webp" alt="">
                <div class="info">2024 Blue Bottle Coffee Nagoya Sakae Cafe</div>
              </figure>
            </div>
            <div class="swiper-slide">
              <figure>
                <img loading="lazy" src="@/assets/pinshi-team/keiji/6.webp" alt="">
                <div class="info">2022 Blue Bottle Coffee Jakc Cafe</div>
              </figure>
            </div>
            <div class="swiper-slide">
              <figure>
                <img loading="lazy" src="@/assets/pinshi-team/keiji/7.webp" alt="">
                <div class="info">2025 Logy Taipei</div>
              </figure>
            </div>
          </div>
          <div class="swiper-pagination"></div>
        </div>
      </div>

      <div class="people mob">
        <div class="person">
          <div class="img" style="background-image: url(@/assets/pinshi-team/keiji2.webp);"></div>
          <!-- <img src="@/assets/pinshi-team/keiji2.webp" alt="芦沢啓治" /> -->
          <div class="name">芦沢啓治</div>
        </div>
      </div>
    </section>

    <section id="firm3" class="firm">
      <div class="content">
        <h2>藍瓶咖啡 景觀設計</h2>
        <h3><span class="en">Hashiuchi Landscape Design</span><br>HLD 橋內庭園設計</h3>
        <p>擁有號稱歐洲麻省理工的荷蘭 Delft University of Technology 取得城市設計系碩士學位，以及荷蘭公共工程制定總體景觀規劃之國際經驗，作品以特定場域、地形為導向、增強人類活動的設計手法為特色，跨越自然與城市環境，設計領域包括商業設施、度假設施、公共設施及私人住宅等景觀設計工作。</p>
        <p class="person-works">
          建築作品｜<br>
          ■ 上海 Blue Bottle ■ 千葉縣立山花園<br>
          ■ 輕井澤千瀧花園 ■ 群馬縣桐生市新川公園
        </p>

        <div class="people pc">
          <div class="person">
            <div class="img" style="background-image: url(@/assets/pinshi-team/hld2.webp);"></div>
            <div class="name">橋內智也</div>
          </div>
        </div>
      </div>

      <div class="slider">
        <div class="swiper">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <figure>
                <img loading="lazy" src="@/assets/pinshi-team/hld/1.webp" alt="">
                <div class="info">2023 Blue Bottle Coffee Qiantan Café</div>
              </figure>
            </div>
            <div class="swiper-slide">
              <figure>
                <img loading="lazy" src="@/assets/pinshi-team/hld/2.webp" alt="">
                <div class="info">2023 Blue Bottle Coffee Qiantan Café</div>
              </figure>
            </div>
            <div class="swiper-slide">
              <figure>
                <img loading="lazy" src="@/assets/pinshi-team/hld/3.webp" alt="">
                <div class="info">群馬縣桐生市新川公園</div>
              </figure>
            </div>
            <div class="swiper-slide">
              <figure>
                <img loading="lazy" src="@/assets/pinshi-team/hld/4.webp" alt="">
                <div class="info">鎌倉山の庭</div>
              </figure>
            </div>
          </div>
          <div class="swiper-pagination"></div>
        </div>
      </div>

      <div class="people mob">
        <div class="person">
          <div class="img" style="background-image: url(@/assets/pinshi-team/hld2.webp);"></div>
          <div class="name">橋內智也</div>
        </div>
      </div>
    </section>

    <section id="firm4" class="firm">
      <div class="content">
        <h2>藍瓶咖啡 燈光設計</h2>
        <h3><span class="en">Interior Design Studio</span><br>AURORA 照明設計</h3>
        <p>市川善幾畢業於日本最早也最先進的設計學校-桑澤設計學院，深受包浩斯風格影響的他，重視的是渴望更接近有序的大自然所創造的美麗景色和現象，極簡的照明專注真正需要的光，而不是盲目照亮空間，目標是更邏輯與有機的照明設計，而非只依賴主觀意識。</p>
        <p class="person-works">
          建築作品｜<br>
          ■ 名古屋 Blue Bottle ■ 東京 TRUNK(HOTEL) YOYOGI PARK<br>
■ 上海 Blue Bottle ■ AZABU HILLS RESIDENCE
        </p>

        <div class="people pc">
          <div class="person">
            <div class="img" style="background-image: url(@/assets/pinshi-team/interior2.webp);"></div>
            <div class="name">市川善幾</div>
          </div>
        </div>
      </div>

      <div class="slider">
        <div class="swiper">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <figure>
                <img loading="lazy" src="@/assets/pinshi-team/interior/1.webp" alt="">
                <div class="info">AZABU HILLS RESIDENCE</div>
              </figure>
            </div>
            <div class="swiper-slide">
              <figure>
                <img loading="lazy" src="@/assets/pinshi-team/interior/2.webp" alt="">
                <div class="info">Blue Bottle  上海店  第二分店</div>
              </figure>
            </div>
            <div class="swiper-slide">
              <figure>
                <img loading="lazy" src="@/assets/pinshi-team/interior/3.webp" alt="">
                <div class="info">Blue Bottle 阪急神戶店</div>
              </figure>
            </div>
            <div class="swiper-slide">
              <figure>
                <img loading="lazy" src="@/assets/pinshi-team/interior/4.webp" alt="">
                <div class="info">Blue Bottle  上海 第五分店</div>
              </figure>
            </div>
            <div class="swiper-slide">
              <figure>
                <img loading="lazy" src="@/assets/pinshi-team/interior/5.webp" alt="">
                <div class="info">TRUNK(HOTEL) YOYOGI PARK</div>
              </figure>
            </div>
          </div>
          <div class="swiper-pagination"></div>
        </div>
      </div>

      <div class="people mob">
        <div class="person">
          <div class="img" style="background-image: url(@/assets/pinshi-team/interior2.webp);"></div>
          <div class="name">市川善幾</div>
        </div>
      </div>
    </section>

    <section id="teams">
      <h2><span>國際頂尖團隊 首席陣容集結</span></h2>
      <div class="slider">
        <div class="swiper">
          <div class="swiper-wrapper">
            <% for(let i=0; i<3; i++) { %>

              <div class="swiper-slide">
                <div class="team" data-id="1">
                  <div>
                    <figure>
                      <img loading="lazy" src="@/assets/pinshi-team/teams/1/photo.webp" alt="">
                    </figure>
                    <div class="title">空間｜林澤森建築師事務所</div>
                    <div class="name">林澤森<span>建築師</span></div>
                    <p>林澤森建築師畢業於成功大學建築系碩士，認為營造與設計應完美融合，建築設計必須考慮施工性，而營造也必須有設計美感，兩相輝映才能充分體現建築的真實價值。</p>
                  </div>
                  <div>
                    <p class="work">
                      設計作品｜<br>
                      ■ 高雄小城 ■ 台南煙波飯店  ■ 台南漾煙波
                    </p>
                    <div class="more">more</div>
                  </div>
                </div>
              </div>

              <div class="swiper-slide">
                <div class="team" data-id="2">
                  <div>
                    <figure>
                      <img loading="lazy" src="@/assets/pinshi-team/teams/2/photo.webp" alt="">
                    </figure>
                    <div class="title">空間｜賈書恆建築師事務所</div>
                    <div class="name">賈書恆<span>建築師</span></div>
                    <p>賈書恆建築師事務所為具備綜合性專長之建築事務所，曾榮獲2009年、2011年金獅首獎及第三屆景觀設計評選大獎等殊榮；20年來秉持高度創意、優良造型、完善機能等全方位理念，作品橫跨軍事營區、超高層建築、集合式住宅、都市更新等多樣面向。</p>
                  </div>
                  <div>
                    <p class="work">
                      設計作品｜<br>
                      ■ 國城賦格 ■ 國城UFO  ■ 高雄軟體園區
                    </p>
                    <div class="more">more</div>
                  </div>
                </div>
              </div>

              <div class="swiper-slide">
                <div class="team" data-id="3">
                  <div>
                    <figure>
                      <img loading="lazy" src="@/assets/pinshi-team/teams/3/photo.webp" alt="">
                    </figure>
                    <div class="title">空間｜陳俊廷建築師事務所</div>
                    <div class="name">陳俊廷<span>建築師</span></div>
                    <p>致力於發現土地與環境獨具的紋理，融入生活與想像的場景，如同矩陣間組織運用，讓人遊走於其中；交織人文與空間對白的詩情，填充建築介質，形成對話與形象、故事與畫面。作品多次囊括國內獎項，如台灣建築獎、高雄園治獎與國家建築金獅獎設計首獎等。</p>
                  </div>
                  <div>
                    <p class="work">
                      設計作品｜<br>
                      ■ 春福煙波四季 ■ 宗大青田 ■ 台南煙波PARK
                    </p>
                    <div class="more">more</div>
                  </div>
                </div>
              </div>

              <div class="swiper-slide">
                <div class="team" data-id="4">
                  <div>
                    <figure>
                      <img loading="lazy" src="@/assets/pinshi-team/teams/4/photo.webp" alt="">
                    </figure>
                    <div class="title">公設｜擊壤設計</div>
                    <div class="name">林新峰<span>建築師</span></div>
                    <p>好的建築必須在精神向度上觸動人心，建構出具有場所精神的空間經驗，是實現建築精神最有力量的途徑。其建築與室內作品，源自對台灣城市空間的觀察，以「連續性」與「場所感」與都市空間積極對話，其作品涵蓋公共建築、商業餐飲空間、集合住宅與藝術地景等多個面向。</p>
                  </div>
                  <div>
                    <p class="work">
                      設計作品｜<br>
                      ■ 嘉義市立美術館 ■ 高雄 SHO承  ■ 高雄雋GEN
                    </p>
                    <div class="more">more</div>
                  </div>
                </div>
              </div>

              <div class="swiper-slide">
                <div class="team" data-id="5">
                  <div>
                    <figure>
                      <img loading="lazy" src="@/assets/pinshi-team/teams/5/photo.webp" alt="">
                    </figure>
                    <div class="title">結構｜科建聯合工程顧問</div>
                    <div class="name">劉紹魁<span>總經理</span></div>
                    <p>科建聯合工程顧問成立於 1989 年，承攬國內多家知名建設公司業務，並與李祖源、李天鐸、郭旭原等建築師事務所有著深厚的合作關係；提供最新工法及價值工程等設計服務，並擁有如複合式二元建築結構等多項台灣結構設計專利。</p>
                  </div>
                  <div>
                    <p class="work">
                      設計作品｜<br>
                      ■ 高雄海洋及流行音樂中心 ■ 台中NTC國家商貿中心
                    </p>
                    <div class="more">more</div>
                  </div>
                </div>
              </div>

              <div class="swiper-slide">
                <div class="team" data-id="6">
                  <div>
                    <figure>
                      <img loading="lazy" src="@/assets/pinshi-team/teams/6/photo.webp" alt="">
                    </figure>
                    <div class="title">燈光｜偶得設計</div>
                    <div class="name">陳怡彰<span>主持設計師</span></div>
                    <p>陳怡彰認為，照明設計是利用光線的鋪排重新詮釋空間層次、材料紋理與設計細節，將美好帶入使用者的心之中，而住宅照明設計的核心在與周邊環境、住民的溫柔相處，同時表現出建築本身的自明性。</p>
                  </div>
                  <div>
                    <p class="work">
                      設計作品｜<br>
                      ■ 新竹市美術館  ■ 台南歷史文化園區 孔廟周邊
                    </p>
                    <div class="more">more</div>
                  </div>
                </div>
              </div>
            
            <% } %>
          </div>
        </div>
      </div>
    </section>
  </main>

  <div id="modal">
    <div class="swiper">
      <div class="swiper-wrapper"></div>
    </div>
    <div class="close"></div>
  </div>

  <%- include('src/components/footer.ejs') %>

  <script type="module" src="../main.js"></script>
  <script type="module" src="./pinshi-team.js"></script>
</body>
</html>